# <center>Pandas for Data Wrangling</center>

<center>Wrangling is cleaning, structuring and enriching raw data into a desired format for better decision making.</center>

## Topics Covered

1- Series

2- DataFrames

3- Missing Data

4- Merging,Joining,and Concatenating

5- GroupBy

6- Operations

7- Data Input and Output

8- Pandas for Plotting

## 1- Series

The first main data type we will learn about for pandas is the Series data type. 

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

We can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])

d = {'a':10,'b':20,'c':30}

#### Using Lists

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

#### Using NumPy Arrays

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

#### Using Dictionary

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data Types in a Series

A pandas Series can hold a variety of object types:

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [12]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [14]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1['USA']

1

Operations are also done based on index like adding two series objects

In [16]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

## 2- DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [17]:
import pandas as pd
import numpy as np

In [18]:
from numpy.random import randn
np.random.seed(101)
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [19]:
df = pd.DataFrame(randn(5,4),index='1 2 3 4 5'.split(),columns='W X Y Z'.split())

In [20]:
df

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

### Selection and Indexing

Grabbing data from a DataFrame

In [21]:
df['W']

1    0.302665
2   -0.134841
3    0.807706
4   -0.497104
5   -0.116773
Name: W, dtype: float64

In [22]:
# Pass a list of column names
df[['W','Z']]

          W         Z
1  0.302665 -1.159119
2 -0.134841  0.184502
3  0.807706  0.329646
4 -0.497104  0.484752
5 -0.116773  1.996652

**Point:** DataFrame Columns are just Series

In [23]:
type(df['W'])

pandas.core.series.Series

### Creating a new column

In [24]:
df['new'] = df['W'] + df['Y']

In [25]:
df

          W         X         Y         Z       new
1  0.302665  1.693723 -1.706086 -1.159119 -1.403420
2 -0.134841  0.390528  0.166905  0.184502  0.032064
3  0.807706  0.072960  0.638787  0.329646  1.446493
4 -0.497104 -0.754070 -0.943406  0.484752 -1.440510
5 -0.116773  1.901755  0.238127  1.996652  0.121354

### Removing Columns

In [26]:
df.drop('new',axis=1)

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

In [27]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
1  0.302665  1.693723 -1.706086 -1.159119 -1.403420
2 -0.134841  0.390528  0.166905  0.184502  0.032064
3  0.807706  0.072960  0.638787  0.329646  1.446493
4 -0.497104 -0.754070 -0.943406  0.484752 -1.440510
5 -0.116773  1.901755  0.238127  1.996652  0.121354

In [28]:
df.drop('new',axis=1,inplace=True)

In [29]:
df

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

### Remove Row

In [30]:
df.drop('E',axis=0)

KeyError: "['E'] not found in axis"

### Selecting Rows

In [31]:
df.loc['A']

KeyError: 'A'

Or select based off of position instead of label

In [32]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: 3, dtype: float64

### Selecting subset of rows and columns
Selecting DataFrame rows and columns simultaneously using .loc & .iloc methods.
To select rows and columns, you will need to pass both valid row and column selections separated by a comma to either .iloc or .loc methods.

**df.iloc[row_idxs, column_idxs]**

**df.loc[row_names, column_names]**

In [33]:
df

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

In [34]:
df.iloc[:3, 1:3]

          X         Y
1  1.693723 -1.706086
2  0.390528  0.166905
3  0.072960  0.638787

In [35]:
df.loc['B','Y']

KeyError: 'B'

In [36]:
df.loc[['A','B'],['W','Y']]

KeyError: "None of [Index(['A', 'B'], dtype='object')] are in the [index]"

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [37]:
df

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

In [38]:
df>0

       W      X      Y      Z
1   True   True  False  False
2  False   True   True   True
3   True   True   True   True
4  False  False  False   True
5  False   True   True   True

In [39]:
df[df>0]

          W         X         Y         Z
1  0.302665  1.693723       NaN       NaN
2       NaN  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4       NaN       NaN       NaN  0.484752
5       NaN  1.901755  0.238127  1.996652

In [40]:
df[df['W']>0]

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
3  0.807706  0.072960  0.638787  0.329646

In [41]:
df[df['W']>0]['Y']

1   -1.706086
3    0.638787
Name: Y, dtype: float64

In [42]:
df[df['W']>0][['Y','X']]

          Y         X
1 -1.706086  1.693723
3  0.638787  0.072960

For two conditions you can use | and & with parenthesis:

In [43]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

### Setting Index

Resetting the index or setting it something else.

In [44]:
df

          W         X         Y         Z
1  0.302665  1.693723 -1.706086 -1.159119
2 -0.134841  0.390528  0.166905  0.184502
3  0.807706  0.072960  0.638787  0.329646
4 -0.497104 -0.754070 -0.943406  0.484752
5 -0.116773  1.901755  0.238127  1.996652

In [45]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     1  0.302665  1.693723 -1.706086 -1.159119
1     2 -0.134841  0.390528  0.166905  0.184502
2     3  0.807706  0.072960  0.638787  0.329646
3     4 -0.497104 -0.754070 -0.943406  0.484752
4     5 -0.116773  1.901755  0.238127  1.996652

In [46]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [47]:
df['States'] = newind

In [48]:
df

          W         X         Y         Z States
1  0.302665  1.693723 -1.706086 -1.159119     CA
2 -0.134841  0.390528  0.166905  0.184502     NY
3  0.807706  0.072960  0.638787  0.329646     WY
4 -0.497104 -0.754070 -0.943406  0.484752     OR
5 -0.116773  1.901755  0.238127  1.996652     CO

In [49]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [50]:
df

          W         X         Y         Z States
1  0.302665  1.693723 -1.706086 -1.159119     CA
2 -0.134841  0.390528  0.166905  0.184502     NY
3  0.807706  0.072960  0.638787  0.329646     WY
4 -0.497104 -0.754070 -0.943406  0.484752     OR
5 -0.116773  1.901755  0.238127  1.996652     CO

In [51]:
# In-place to persist the change
df.set_index('States',inplace=True)

In [52]:
df

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

## 3- Other Operations

Some of the useful operations that could be performed on the pandas dataframe.

### Head

In [53]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [54]:
df.head(1)

   col1  col2 col3
0     1   444  abc

### Unique Values and Value Counts

In [55]:
df['col2'].unique()

array([444, 555, 666])

In [56]:
df['col2'].nunique()

3

In [57]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Applying Functions

In [58]:
def times2(x):
    return x*2

In [59]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [60]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [61]:
df['col1'].sum()

10

### Get Column and Index Names

In [62]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [63]:
df.index

RangeIndex(start=0, stop=4, step=1)

### Sorting and Ordering a DataFrame

In [64]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [65]:
df.sort_values(by='col2') #inplace=False by default

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

### Checking Null Values

In [ ]:
df.isnull()

### Replace a Value by Some Other

In [ ]:
df

In [ ]:
df.replace(to_replace=555, value=777)

## 4- Missing Data

Missing Data can be dealt with:
- Removing the row/record or column
- Replacing the value with some appropriate sustitute
 - By some value
 - By mean
 - By Advanced Methods like KMeans based approximation

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2) # only the row containing 2 NaN value gets dropped

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
df['A'].fillna(value=df['A'].mean())

## 5- Concatenating, Joining, and Merging

There are 3 main ways of combining DataFrames together: 
- Concatenation
- Joining
- Merging

**concat**
* A pandas function
* Combines two or more pandas objects vertically or horizontally
* Aligns only on the index
* Errors whenever a duplicate appears in the index
* Defaults to outer join with the option for inner join

**.join**
* A DataFrame method
* Combines two or more pandas objects horizontally
* Aligns the calling DataFrame's column(s) or index with the other object's index (and not the columns)
* Handles duplicate values on the joining columns/index by performing a Cartesian product
* Defaults to left join with options for inner, outer, and right

**.merge**
* A DataFrame method
* Combines exactly two DataFrames horizontally
* Aligns the calling DataFrame's column(s) or index with the other DataFrame's column(s) or index
* Handles duplicate values on the joining columns or index by performing a cartesian product
* Defaults to inner join with options for left, outer, and right

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
print(df1,"\n\n")

print(df2,"\n\n")

print(df3,"\n\n")

### Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis we are concatenating on. We can use **pd.concat** and pass in a list of DataFrames to concatenate together.

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

### Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
print(left,"\n\n")
print(right,"\n\n")

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

### Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
print(left,"\n\n")
print(right,"\n\n")

In [ ]:
pd.merge(left,right,how='inner', on='key')

Or to show a more complicated example:

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
print(left,"\n\n")
print(right,"\n\n")

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

## 6- Grouping Datasets (groupby)

The groupby method allows us to group rows of data together and call aggregate functions and filter and transforms the data.
During data analysis, it is often essential to cluster or group data together based on certain criteria. For example, an e-commerce store might want to group all the sales that were done during the Christmas period or the orders that were received on Black Friday. These grouping concepts occur in several parts of data analysis.

**Understanding groupby()**
During the data analysis phase, categorizing a dataset into multiple categories or groups is often essential. We can do such categorization using the pandas library. The pandas groupby function is one of the most efficient and time-saving features for doing this. Groupby provides functionalities that allow us to split-apply-combine throughout the dataframe; that is, this function can be used for splitting, applying, and combining dataframes.

Similar to the Structured Query Language (SQL), we can use pandas and Python to execute more complex group operations by using any built-in functions that accept the pandas object or the numpy array.

**groupby mechanics**

While working with the pandas dataframes, our analysis may require us to split our data by certain criteria. Groupby mechanics amass our dataset into various classes in which we can perform exercises and make changes, such as the following:
Grouping by features, hierarchically Aggregating a dataset by groups Applying custom aggregation functions to groups
Transforming a dataset groupwise The pandas groupby method performs two essential functions:
- It splits the data into groups based on some criteria.
- It applies a function to each group independently.
To work with groupby functionalities, we need a dataset that has multiple numerical as well as categorical records in it so that we can group by different categories and ranges.

The dataset is form here: https://www.kaggle.com/toramky/automobile-dataset

In [ ]:
df = pd.read_csv("Automobile_data.csv")
df.head(10)

Using the groupby() function lets us group this dataset on the basis of the body-style column

In [ ]:
df.groupby('body-style').groups.keys()

From the preceding output, we know that the body-style column has five unique values, including convertible, hardtop, hatchback, sedan, and wagon.

Now, we can group the data based on the body-style column. Next, let's print the values contained in that group that have the body-style value of convertible.

In [ ]:
# Group the dataset by the column body-style
style = df.groupby('body-style')
# Get values items from group with value convertible
style.get_group("convertible")

**Selecting a subset of columns**
To form groups based on multiple categories, we can simply specify the column names in the groupby() function. Grouping will be done simultaneously with the first category, the second category, and so on. Let's groupby using two categories, body-style and drive wheels, as follows:

In [ ]:
double_grouping = df.groupby(["body-style","drive-wheels"])
double_grouping.first()

Not only can we group the dataset with specific criteria, but we can also perform arithmetic operations directly on the whole group at the same time and print the output as a series or dataframe. There are functions such as max(), min(), mean(), first(), and last() that can be directly applied to the GroupBy object in order to obtain summary statistics for each group.

#### Max and Min

In [ ]:
# max() will print the maximum entry of each group
style['normalized-losses'].max()

In [ ]:
# min() will print the minimum entry of each group
style['normalized-losses'].min()

#### Mean

In [ ]:
# mean() will print mean of numerical column in each group
style.mean()

In [ ]:
# get mean of each column of specific group
style.get_group("hatchback").mean()

We can also count the number of symboling/records in each group.

In [ ]:
# get the number of symboling/records in each group
style['symboling'].count()

#### Data Aggregation Techniques
Having understood the counting part, NOW we are going to discuss different types of data aggregation techniques.

Some of the most frequently used aggregations are as follows:

- sum: Returns the sum of the values for the requested axis
- min: Returns the minimum of the values for the requested axis
- max: Returns the maximum of the values for the requested axis

We can apply aggregation in a DataFrame, df, as df.aggregate() or df.agg().

In [ ]:
# Since aggregation only works with numeric type columns, let's take some of the numeric
# columns from the dataset and apply some aggregation functions to them:

# new dataframe that consist length,width,height,curb-weight and price
new_dataset = df.filter(["length","width","height","curbweight","price"],axis=1)
new_dataset

In [ ]:
# applying single aggregation for mean over the columns
new_dataset.agg("mean", axis="rows")

In [ ]:
# applying aggregation sum and minimum across all the columns
new_dataset.agg(['sum', 'min'])

**READING ASSIGNMNET :**

READ next topics from Hands-on Exploratory Data Analysis with Python Chapter:06.
- Group-wise Operations
- Group-wise Transformations
- Pivot Tables and Cross-Tabulations

## 7- Discretization and Binning

Often when working with continuous datasets, we need to convert them into discrete or interval forms. Each interval is referred to as a bin, and hence the name binning came to be.

In [ ]:
height = [120, 122, 125, 127, 121, 123, 137, 131, 161, 145, 141, 132]

To convert the preceding dataset into intervals, we can use the cut() method provided by the pandas library

In [ ]:
bins = [118, 125, 135, 160, 200]
category = pd.cut(height, bins)

In [ ]:
category

On looking closely at the output, it could be seen that there are mathematical notations for intervals.
- A parenthesis indicates that the side is open.
- A square bracket means that it is closed or inclusive.

(118, 125] means the left-hand side is open and the right-hand side is closed. Hence, 118 is not included, but anything greater than 118 is included, while 125 is included in the interval.

We can check the number of values in each bin by using the

In [ ]:
pd.value_counts(category)

We can also indicate the bin names by passing a list of labels.
Note that we are passing at least two arguments, the data that needs to be discretized and the required number of bins. Furthermore, we are using a right=False argument to change the form of interval.

In [ ]:
bin_names = ['Short Height', 'Average height', 'Good Height', 'Taller']
pd.cut(height, bins, labels=bin_names)

## 8- Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [ ]:
import numpy as np
import pandas as pd

### CSV

#### CSV Input

In [ ]:
df = pd.read_csv('example')
df

#### CSV Output

In [ ]:
df.to_csv('abc',index=False)

## 9- Pnadas for Plotting

### Plot Types

There are several plot types built-in to pandas, most of them statistical plots by nature:

* df.plot.area     
* df.plot.barh     
* df.plot.density  
* df.plot.hist     
* df.plot.line     
* df.plot.scatter
* df.plot.bar      
* df.plot.box      
* df.plot.hexbin   
* df.plot.kde      
* df.plot.pie

We can also just call df.plot(kind='hist') or replace that kind argument with any of the key terms shown in the list above (e.g. 'box','barh', etc..)

In [ ]:
df1 = pd.read_csv('df1',index_col=None)
df2 = pd.read_csv('df2', index_col=None)

#### Area Plot

In [ ]:
df2.plot.area(alpha=0.4)

#### Bar Plot

In [ ]:
df2.plot.bar()

#### Histogram Plot

In [ ]:
df1['A'].plot.hist(bins=50)

#### Line Plot

In [ ]:
df3 = pd.read_csv('df3', index_col=None)
df3.head(3)

In [ ]:
df1.plot.line()

#### Scatter Plot

In [ ]:
df1.plot.scatter(x='A',y='B')

#### Box Plot

In [ ]:
df2.plot.box()